.nav-message {
  margin-right: 30px;
  color: white;
}

table {
  line-height: 2rem;
}

td, th {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px gray solid;
}

.scan-img {
  width: 50%;
  margin: auto;
  display: block;
}

.scan-info {
  margin: 15px auto;
}

.scan-attr {
  color: red
}

.form-class {
  text-align: center;
  margin: 10px auto;
}

.form-control {
  width: 50%;
  margin: 5px auto
}